#
# SPDX-License-Identifier: Apache-2.0
#

---
BasedOnStyle: LLVM
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AlignOperands: Align
AllowShortLoopsOnASingleLine: true
AlignTrailingComments: true
BinPackArguments: true
BinPackParameters: false
PointerAlignment: Right
BreakBeforeBraces: Linux
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<(assert|complex|ctype|errno|fenv|float|inttypes|limits|locale|math|setjmp|signal|stdarg|stdbool|stddef|stdint|stdio|stdlib|string|tgmath|time|wchar|wctype)\.h>$'
    Priority: 0
    SortPriority: 0
  - Regex: '^<Arduino\.h>$'
    Priority: 1
    SortPriority: 1
   # In arduino samples <avrtos.h> must be the very first AVRTOS header to be included
   # as it activates the avrtos library support, otherwise other <avrtos/...> headers
   # will not be found.
  - Regex: '^<avrtos\.h>$'
    Priority: 2
    SortPriority: 2
  - Regex: '^<avrtos/.*\.h>$'
    Priority: 2
    SortPriority: 3
  - Regex: '^<.*\.h>$'
    Priority: 4
  - Regex: '^".*\.h"$'
    Priority: 5
  - Regex: '.*'
    Priority: 6
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
ColumnLimit: 90
WhitespaceSensitiveMacros:
  - STRINGIFY
  - Z_STRINGIFY