[workspace]
resolver = "2"
members = [
    "rust-avrtos-sys",
    "rust-avrtos-core",
    "rust-avrtos-examples",
]

[profile.dev]
panic = "abort"
lto = true
opt-level = "s"

[profile.release]
panic = "abort"
codegen-units = 1
debug = true
lto = true
opt-level = "s"