[build]
target = "avr-atmega2560.json" # architecture/avr/

[unstable]
build-std = ["core"]

[target.'cfg(target_arch = "avr")']
# runner = "./scripts/qemu-runner.sh"
runner = "ravedude -cb 115200 mega2560"

# runner = "ravedude -cb 57600 mega2560 -P /dev/ttyACM0"

